<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Interface</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='2.css') }}">

</head>
<body>
    <div class="container">
        <form action="" method="post">
            <div class="upload-section">
                <div class="upload-box">
                    <input type="file" name="report_data" class="submit-btn A">
                </div>
                <div class="upload-box">
                    <input type="file" name="report_data" class="submit-btn A">
                </div>
                </div><br>
                <input type="submit"  class="submit-btn" value="Submit">
            </form>
    </div>
</body>
</html>
