<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Interface</title>
    <link rel="stylesheet" href="0.css">
    <link rel="stylesheet" href="3.css">
</head>
<body>
    <div class="container">
        <div class="img-section">
            <div class="img-box">
                
            </div>
            <div class="img-box">
            
            </div>
            
        </div>
        <div class="report-section">
        <div class="report-box">
            
        </div></div>
    </div>
</body>
</html>
