<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeForHealth</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
</head>
<body>
    <!--header-->
    <header class="main-header">
        <div class="container2">
            <img class="logo" src="{{url_for('static', filename='logo.png')}}">
            <h1>HopeForHealth.in</h1>
            <nav class="nav-bar">
                <ul>
                    <li><a href="{{url_for('mainpage')}}">Home</a></li>
                    <li><a href="{{url_for('detector')}}">Detection</a></li>
                    <li><a href="{{url_for('classifier')}}">Classification</a></li>
                    <li><a href="{{url_for('risk_predictor')}}">Risk Prediction</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <!--content area-->
    <div class="video-container">
        <video autoplay muted loop id="background-video">
            <source src="{{url_for('static', filename='bg.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="person1">
        <div class="all">
        <div class="profile">
            <img class="image" src="{{url_for('static', filename='Shubham.jpg')}}">
        </div>
        <div class="about">
            <p><b>Shubham Singh:</b> Data Scientist (Lead)</p><br>
            <p>Shubham took the lead on this project with his deep knowledge of data science and machine learning. He designed and built the core deep learning models for brain tumor detection and classification, ensuring they were accurate and efficient. Shubham developed the U-Net architecture for tumor segmentation and fine-tuned the ImageNet-based model to classify different tumor types. His leadership and attention to detail were crucial in delivering a reliable solution.</p>
        </div>
    </div>
    <div class="socialicons">
        <a href="https://github.com/pinghunter-Shubham"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/__shubham75__/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/shubham-singh-23922b282/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    </div>
    
    <div class="person">
        <div class="all">
        <div class="about">
            <p><b>Rupam Das:</b> Flask Developer</p><br>
            <p>Rupam was instrumental in setting up the back-end of our project. He created the Flask web application that makes it possible for doctors and users to upload MRI scans, view results, and access the risk analysis feature. Rupam seamlessly integrated the deep learning models with Flask, ensuring the system worked smoothly and could provide real-time results for the users.</p>
        </div>
        <div class="profile">
            <img class="image" src="{{url_for('static', filename='Rupam.jpg')}}">
            </div>
        </div>
            <div class="socialicons">
        <a href="https://github.com/rdbhaiya"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/__rupamdas08__/"><i class="fa-brands fa-instagram"></i></a>
        <a href="www.linkedin.com/in/rupam-das008"><i class="fa-brands fa-linkedin"></i></a>
            </div>
    </div>
    
    <div class="person">
        <div class="all">
        <div class="profile">
            <img class="image" src="{{url_for('static', filename='Souronil.jpg')}}">
        </div>
        <div class="about">
            <p><b>Souranil Chakraborty:</b> Cloud Engineer </p><br>
            <p>Souranil was responsible for deploying the entire project on the cloud, making sure it was fast, secure, and always available. His expertise in cloud infrastructure allowed us to handle large medical datasets efficiently, ensuring that predictions were delivered quickly and securely. Souranil’s work made the project scalable, so it could grow to handle more users and data without compromising performance.
            </p>
        </div>
    </div>
    <div class="socialicons">
        <a href="https://github.com/Chakrabortysoura"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/souranil-chakraborty-92bb44247/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    </div>
    
    <div class="person">
        <div class="all">
        <div class="about">
            <p><b>Anirban Mondal:</b> Frontend Developer</p><br>
            <p>Anirban crafted the user experience for our project. He built a simple, clean, and user-friendly interface that made it easy for doctors and users to interact with the system. From uploading MRI scans to viewing classification results and risk analysis reports, Anirban's design ensured that everything was intuitive and visually appealing, providing a seamless experience for everyone using the app.</p>
        </div>
        <div class="profile">
            <img class="image" src="{{url_for('static', filename='Anirban.jpg')}}">
        </div>
    </div>
    <div class="socialicons">
        <a href="https://github.com/20Anirban02"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/anirban_crafting"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/anirban-mondal-bb2302302"><i class="fa-brands fa-linkedin"></i></a>
    </div> <br>

<!--footer-->
<footer style="margin-left: -150px; margin-top: 150px;">
    <div class="footercontainar">
        <div class="socialicons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/pinghunter-Shubham/Brain-Tumor-"><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footernav">
            <ul>
                <li><a href="{{url_for('mainpage')}}">Home</a></li>
                <li><a href="{{url_for('detector')}}">Detection</a></li>
                <li><a href="{{url_for('classifier')}}">Classification</a></li>
                <li><a href="{{url_for('risk_predictor')}}">Risk Prediction</a></li>
                <li><a href="{{url_for('about_us')}}">About Us</a></li>
            </ul>
        </div>

  <!-- translator -->       
  <div id="google_translate_element"></div>
  <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement({
              pageLanguage: 'en',
              includedLanguages: 'bn,en,ar,zh-CN,zh-TW,nl,en,fr,de,el,hi,it,ja,ko,pt,ru,es,sv,ta,th,tr,vi,he,pl,cs,da,fi,hu,id,ms,ro,uk',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE
          }, 'google_translate_element');
      }

      setInterval(() => {
          let top = document.getElementById(':2.container');
          if (top) top.style.display = "none";
      }, 300);
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<br>
<!--Copyright-->
    <div class="footerbottom">
        <p>Copyright &copy;2024; Designed by <span class="designer"> HopeForHealth.in </span> </p>
    </div>
  </footer>

  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>